[Desktop Entry]
Type=Application
Name=Start Python script
Exec=lxterminal -e "python /home/pi/PI-Connector-for-UFL-Samples/Raspberry PI/SendSenseHatDataToPISystem.py"
StartupNotify=false
